# SE Questions

The assembly of this list has been inspired by [Anthony Magnabosco](https://www.youtube.com/user/magnabosco210)'s occasional tweets with questions that may be useful when practicing [Street Epistemology](https://streetepistemology.com). My hope is that this list will help people in stressful situations with thinking of good questions to ask. However, please consider carefully whether you want to bring the actual list to a conversation.

## Download

- [Plain text file (Markdown)](https://raw.githubusercontent.com/lumpiluk/sequestions/master/se_questions.md)
- PDF: coming soon!
- Flash cards:
  [5 times 2 cards per double-sided A4 page](https://github.com/lumpiluk/sequestions/blob/master/flashcards_5x2-on-a4paper.pdf)

## Adding Questions

The easiest way to get a question added is to either report an issue with the issue tracker or to message me directly (e.g. via Twitter, where this all started; I'm [@lumpiluk](https://twitter.com/Lumpiluk)).

If you wish to add questions on your own, you'll want to clone this repository. Your question and source information go to the end of the file se_questions.yaml. If you want, you can then run `make` in the terminal to compile the list into Markdown and PDF. This requires some dependencies, though:

- The program `make`, which in Ubuntu is included in the package build-essential
- Python 3
  - PyYAML for parsing YAML files, which in Ubuntu is included in the package python3-yaml
  - The Python templating engine Jinja2, which in Ubuntu is included in the package python3-jinja2
- A LaTeX distribution for PDFs and flash cards, e.g. TeX Live

## The Questions

{% for question in questions %}
{% if question.prompt %}
- (Source: [{{ question.source.link }}]({{ question.source.link }}))
  - *IL:* {{ question.prompt }}
  - *Q:* {{ question.question }}
{% else %}
- {{ question.question }} (Source: [{{ question.source.link }}]({{ question.source.link }}))
{% endif %}
{% endfor %}
