# Questions

The assembly of this list has been inspired by [Anthony Magnabosco](https://www.youtube.com/user/magnabosco210)'s occasional tweets containing questions which may be useful when practicing [Street Epistemology](https://streetepistemology.com). My hope is that this list will help people think of good questions more easily in stressful situations. However, please consider carefully whether you want to bring the actual list to a conversation.

{% for question in questions %}
{% if question.prompt %}
- (Source: {{ question.source.link }})
  - *IL:* {{ question.prompt }}
  - *Q:* {{ question.question }}
{% else %}
- {{ question.question }} (Source: {{ question.source.link }})
{% endif %}
{% endfor %}
